<% layout("./layouts/boilerplate") %>
<body>
<div class="row">
    <div class="col-8 offset-2">
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" id="title" required>
            <div class="valid-feedback">
                Title looks good
            </div>
            <div class="invalid-feedback">
                No Title
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" id="description" required></textarea>
            <div class="invalid-feedback">
                Please write a short description
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file"  name="listing[image]" placeholder="Image URL" id="image" class="form-control">
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-select" id="category" required>
                <option value="">Select a category</option>
                <option value="Beach">Beach</option>
                <option value="Mountain">Mountain</option>
                <option value="City">City</option>
                <option value="Historic">Historic</option>
                <option value="Unique">Unique</option>
                <option value="Lake">Lake</option>
                <option value="Luxury">Luxury</option>
                <option value="Ski">Ski</option>
                <option value="Safari">Safari</option>
                <option value="Countryside">Countryside</option>
                <option value="Tropical">Tropical</option>
            </select>
            <div class="invalid-feedback">
                Please select a category
            </div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price</label>
            <input type="number" min=0 name="listing[price]" placeholder="Enter price" id="price" class="form-control" required>
            <div class="invalid-feedback">
                Enter a valid price
            </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" id="country" class="form-control" required>
            <div class="invalid-feedback">
                Country is required
            </div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="..Ooty, Tamilnadu" class="form-control" id="location" required>
            <div class="invalid-feedback">
                Is it in heaven?
            </div>
        </div>

        <br><br>
        <button class="btn btn-dark add-btn">Add</button>   
    </form>
    </div>
</div>
</body>
